@{
    ViewBag.Title = "Waterworks";
}

@section head{

}
@section scripts{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/water-reading.js" defer></script>
    <script defer>
        //$('#select-block').editableSelect();
        //$('#select-lot').editableSelect();
    </script>
    <script>
        //$(document).ready(function () {
        //    const connection = new signalR.HubConnectionBuilder()
        //        .withUrl("/resident/water-consumption")
        //        .withAutomaticReconnect([0, 2000, 10000, 30000]) // Retry after 0s, 2s, 10s, and 30s
        //        .build();

        //    connection.start().then(function () {
        //        toastr.info("Connected to water-consumption hub");
        //    }).catch(function (err) {
        //        return console.error(err.toString());
        //    });

        //    // Optional: Log reconnection attempts
        //    connection.onreconnecting((error) => {
        //        toastr.warning('Reconnecting to water-consumption hub...');
        //        console.log('Reconnecting...', error);
        //    });

        //    connection.onreconnected(() => {
        //        toastr.success('Reconnected to water-consumption hub');
        //    });

        //    connection.onclose((error) => {
        //        toastr.error('Disconnected from water-consumption hub. Will retry connection...');
        //        console.log('Connection closed', error);
        //    });

        //});
    </script>

}

@section sidebar{
    <a href="/kvhai/staff/waterwork/home" class="nav-link text-light mb-2 d-flex align-items-center ">
        <i class="bi bi-house-door me-2"></i> Home
    </a>
    <a href="/kvhai/staff/waterwork/reading" class="nav-link text-light mb-2 d-flex align-items-center active">
        <i class="bi bi-pencil-square me-2"></i> Reading
    </a>

}
@section mobilenav{
    <a href="/kvhai/staff/waterwork/home" class="nav-link text-light mb-2 d-flex align-items-center ">
        <i class="bi bi-house-door me-2"></i> Home
    </a>

    <a href="/kvhai/staff/waterwork/reading" class="nav-link text-light mb-2 d-flex align-items-center active">
        <i class="bi bi-pencil-square me-2"></i> Reading
    </a>
}

@{
    if (Model.ListStreet.Count < 1)
    {
        <p>No Data Found!</p>
    }
}


<form id="form-reading" autocomplete="off" class="needs-validation" novalidate>

    @Html.AntiForgeryToken()
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="water-reading">
                <!--INFORMATION SECTION-->
                <section class="information-section">
                    <p class="h3 fw-bold mb-3">Information</p>
                    <!--ROW 1-->
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-sm-6">
                            <div class="form-check mb-3 ps-0">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">Block</span>
                                    <input type="text" class="form-control" name="Block" id="input-block" required>
                                </div>
                                <div class="invalid-feedback">
                                    Required.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-check mb-3 ps-0">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">Lot</span>
                                    <input type="text" class="form-control" name="Lot" id="input-lot" required>
                                </div>
                                <div class="invalid-feedback">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--ROW 2-->
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-sm-6">
                            <div class="form-check mb-3 ps-0">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">Streets</span>
                                    <select id="select-street" class="form-select" name="Street" aria-label="Default select example" required>
                                        @{
                                            foreach (var item in Model.ListStreet)
                                            {
                                                <option value="@item.Street_Name">@item.Street_Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="invalid-feedback">
                                    Required.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-check mb-3 ps-0">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">Name</span>
                                    <input type="text" class="form-control" id="input-name" required disabled>
                                </div>
                                <div class="invalid-feedback">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr />

                <!--READING SECTION-->
                <section class="reading-section">
                    <p class="h3 fw-bold mb-3">Water Reading</p>

                    <div class="row d-flex justify-content-center">
                        <div class="col-12">
                            <div class="form-check mb-3 ps-0">
                                <div class="input-group ">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">Reading</span>
                                    <input type="text" id="input-reading" class="form-control" required>
                                </div>
                                <div class="invalid-feedback">
                                    Required.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3 mb-3">
                    <a href="#" id="btn-read" class="btn btn-primary p-2">SUBMIT</a>
                    <a href="#" id="btn-cancel" class="btn btn-secondary p-2">CANCEL</a>
                </div>
            </div>
        </div>
    </div>

</form>
