@{
    ViewBag.Title = "Accounts";
}

@section head{
    <style>
        .link-header{
            text-decoration:none;
            font-size: 20px;
            color:black;
        }

        span .link-header{
        }
    </style>
}

<div class="container border">
    <div class="col-xl-7 content-container w-100">
        <div class="p-2">
            <div class="container d-flex">
                <span><a class="link-header" href="#">HOME</a></span>
                <span><a class="link-header" href="#">HOME</a></span>
            </div>
        </div>
        <div class="header-border"></div>
        <div class="container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>