@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Signup</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-icon.css">
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/header-font.css" rel="stylesheet" />


    <style>
        body {
            -webkit-text-size-adjust: 100%;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;
            font-size: .8rem;
        }

        #header {
            /*color: #60a5fa;*/
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: .5rem;
            font-size: 3rem;
            color: #1B8EC9;
        }

        .center-form {
            border: 1px solid gray;
            border-radius: 10px;
            box-shadow: 1px 1px 4px 7px rgba(0, 0, 0, .25);
            width:100%;
        }

        .main-form{
            /*height: calc(100vh - 70px);*/
            display:flex;
            align-items:center;
            justify-content:center;
        }

        .center-text {
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
        }

        ul{
            list-style-type: none;
        }

        .process-seperator {
            display: flex;
            border: 1px solid #9DABB1;
            width: 20px;
            height:1px;
            align-self: center;
            justify-content:center;
        }

        .btn-next, .btn-prev {
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-size: 1rem;
            font-style: normal;
            letter-spacing: 2px;
            background-color: #1B8EC9;
            color: white;
            text-decoration: none;
            border-radius: 6px;
            padding: 0.75rem, 0.375rem ;
            line-height: 1.5;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
            cursor: pointer;
        }
        .btn-prev {
            background-color: #4C4C4C;
            display:none;
        }

        .tab {
            display: none;
        }

        h3 {
            color:#3D5170;
        }

        .main-process {
            height: calc(100vh - 200px);
            overflow-y:auto;
        }

        .icon-next{
            width: 50px;
            height:20px;
        }

        .make-circle {
            position: relative;
            border: 2px solid #9DABB1;
            width: 20px;
            height: 20px;
            border-radius: 100%;
        }
        .make-circle::after{
            content:'';
            font-weight:400;
            position:absolute;
            left: 50%; /* Move to the horizontal center */
            top: 50%; /* Move to the vertical center */
            transform: translate(-50%, -50%); /* Adjust for half of the element's size */
        }

        .make-circle.active{
            background-color: #63747B;
            color:white;
        }

        .is-invalid {
            border-color: #dc3545;
        }

            .is-invalid:focus {
                border-color: #dc3545;
                box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
            }

        .custom-alert{
            position:absolute;
        }
    </style>
</head>
<body>
    @{
        if (ViewBag.Success != null)
        {
            <div class="container-fluid custom-alert">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Registration Success!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            </div>
        }

        if (ViewBag.Error != null)
        {
            <div class="container-fluid custom-alert">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Registration Failed!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            </div>
        }
    }

    <div class="container vh-100">
        <div class="container d-flex p-2 mb-3">
            <img src="~/img/kvhai.png" alt="katarungan vilalge" class="me-2" style="width:80px;height:80px;">
            <span class="d-flex align-items-center" id="header">KVHAI</span>
        </div>

        <div class="container main-form">
            <div class="center-form">
                <ul class="d-flex justify-content-center p-3 m-0">
                    <!-- PROCESS 1 -->
                    <li class="me-2 d-flex">
                        <div class="make-circle active"></div>

                        <i class="process-seperator ms-2"></i>

                    </li>

                    <!-- PROCESS 2 -->
                    <li class="me-2 d-flex">
                        <div class="make-circle"></div>

                        <i class="process-seperator ms-2"></i>

                    </li>

                    <!-- PROCESS 3 -->
                    <li class="me-2 d-flex">
                        <div class="make-circle"></div>

                    </li>
                </ul>

                <div class="border"></div>

                <div class="container-fluid main-process">
                    <form id="myForm" autocomplete="off" class="needs-validation" novalidate>

                        @Html.AntiForgeryToken()

                        <!-- OCCUPANCY PROCESS -->
                        <div class="container tab mt-3 mb-3 " id="occupancy">
                            <div class="container-fluid d-flex justify-content-center mb-3 mt-3">
                                <h3>Occupancy</h3>
                            </div>


                            <div class="form-check mb-3">
                                <select id="Occupancy" name="Occupancy" class="form-select form-select-lg mb-3" required>
                                    <option value="" disabled selected hidden>Select</option>
                                    <option value="1">Owner</option>
                                    <option value="2">Renter</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>


                        </div>


                        <!--END OCCUPANCY PROCESS -->
                        <!-- INFORMATION PROCESS -->
                        <div class="container tab" id="information">
                            <div class="container-fluid d-flex justify-content-center mb-3 mt-3">
                                <h3>Information Details</h3>
                            </div>

                            @* ADDRESS *@
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Block" class="form-label fw-bold fs-6">Block</label>
                                        <input type="number" class="form-control" id="Block" name="Block" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Lot" class="form-label fw-bold fs-6">Lot</label>
                                        <input type="number" class="form-control" id="Lot" name="Lot" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="fname" class="form-label fw-bold fs-6">Street</label>
                                        <select class="form-select" aria-label="Default select example" required>
                                            <option value="" disabled selected hidden>Select Street</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            @*END ADDRESS *@


                            @* PERSONAL INFO *@
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Lname" class="form-label fw-bold fs-6">Last Name</label>
                                        <input type="text" class="form-control" id="Lname" name="Lname" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Fname" class="form-label fw-bold fs-6">First Name</label>
                                        <input type="text" class="form-control" id="Fname" name="Fname" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Mname" class="form-label fw-bold fs-6">Middle Name</label>
                                        <input type="text" class="form-control" id="Mname" name="Mname" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Phone" class="form-label fw-bold fs-6">Phone Number</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="num-span">63</span>
                                            <input id="Phone" name="Phone" type="text" class="form-control" placeholder="" required>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Email" class="form-label fw-bold fs-6">Email</label>
                                        <input type="email" class="form-control" id="Email" name="Email" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Date_Residency" class="form-label fw-bold fs-6">Date of Residency</label>
                                        <input type="date" class="form-control" id="Date_Residency" name="Date_Residency" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Username" class="form-label fw-bold fs-6">Username</label>
                                        <input type="text" class="form-control" id="Username" name="Username" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="Password" class="form-label fw-bold fs-6">Password</label>
                                        <input type="password" class="form-control" id="Password" name="Password" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <label for="cpass" class="form-label fw-bold fs-6">Confirm Password</label>
                                        <input type="password" class="form-control" id="cpass" required>
                                    </div>
                                </div>

                            </div>
                            @* END PERSONAL INFO *@

                        </div>
                        <!-- END INFORMATION PROCESS -->
                        <!-- PROOF PROCESS -->
                        <div class="container tab" id="proof-validation">
                            <div class="container-fluid d-flex justify-content-center mb-3 mt-3">
                                <h3>Proof of Validation</h3>
                            </div>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" id="Image" accept="image/*" required>
                                <label class="input-group-text" for="inputGroupFile02">Upload Proof</label>
                            </div>
                        </div>
                        <!-- END PROOF PROCESS -->


                        <button type="submit" id="btn-register">TEST</button>
                    </form>
                    <div class="d-flex justify-content-end">
                        <a class="p-2 mb-3 btn-prev me-2" id="prev-btn" onclick="DecrementTab()">Previous</a>
                        <a class="p-2 mb-3 btn-next" id="next-btn" onclick="IncrementTab()">Next</a>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/toastr.min.js"></script>

    @* VALIDATION FORM *@
    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')


            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>

    <script>

    </script>

    <script>
        var currentTab = 0;
        var maxTab = 2;
        var minTab = 0;

        function IncrementTab() {
            if (currentTab < maxTab) {
                let isValid = validateCurrentTab();

                if (isValid) {
                    currentTab++;
                    updateTabDisplay();
                }

            }

            if (currentTab > minTab) {
                const prev = document.querySelector('.btn-prev');
                prev.style.setProperty('display', 'block');
            }

            if (currentTab === maxTab) {
                const next = document.querySelector('.btn-next');
                next.style.setProperty('display', 'none');
            }
        }

        function validateCurrentTab() {
            const currentTabElement = document.querySelectorAll('.tab')[currentTab];
            const form = document.querySelector('form');
            const inputs = currentTabElement.querySelectorAll('input, select');
            let isValid = true;

            inputs.forEach(input => {
                if (!input.checkValidity()) {
                    isValid = false;
                    input.classList.add('was-validated');
                } else {
                    input.classList.remove('was-validated');
                }
            });

            if (!isValid) {
                // Trigger Bootstrap's validation styles
                form.classList.add('was-validated');
            }
            return isValid;
        }

        document.addEventListener('DOMContentLoaded', function () {
            const inputs = document.querySelectorAll('input, select');
            inputs.forEach(input => {
                input.addEventListener('input', function () {
                    this.classList.remove('is-invalid');
                    this.form.classList.remove('was-validated');
                });
            });
        });

        function DecrementTab() {
            if (currentTab > minTab) {
                currentTab--;
                updateTabDisplay();
            }

            if (currentTab === minTab) {
                const prev = document.querySelector('.btn-prev');
                prev.style.setProperty('display', 'none');
            }

            if (currentTab < maxTab) {
                const next = document.querySelector('.btn-next');
                next.style.setProperty('display', 'block');
            }
        }

        function updateTabDisplay() {
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach((tab, index) => {
                if (index === currentTab) {
                    tab.style.display = 'block';
                } else {
                    tab.style.display = 'none';
                }
            });

            activeClass();

        }

        function activeClass() {
            const a = document.querySelectorAll('.make-circle');
            a.forEach((circle, index) => {
                if (index === currentTab) {
                    circle.classList.add('active');
                }
                else {
                    circle.classList.remove('active');
                }

            });
        }

        $(document).ready(function () {
            updateTabDisplay();
        })

    </script>

    <script>
        $(document).ready(function () {
            $('#btn-register').click(function (e) {
                e.preventDefault();

                var form = document.getElementById('myForm');
                var formData = new FormData(form);

                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    positionClass: 'toast-top-right', // Position: toast-top-right, toast-top-left, toast-bottom-right, toast-bottom-left
                    timeOut: 3000 // Timeout duration in milliseconds (e.g., 3000ms = 3 seconds)
                };

                $.ajax({
                    type: 'POST',
                    url: window.location.origin + '/kvhai/resident/signup',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        alert("success");
                        console.log(response);
                        if (response.message = 0) {
                            toastr.error(response.message, 'Error');
                        }
                        else
                        {
                            toastr.success(response.message, 'Success');
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("error");
                        console.log(xhr.responseText);
                    }
                });
            });
        });

    </script>

    <script>
        /*$(document).ready(function () {
            $('#btn-register').click(function (e) {
                e.preventDefault(); // Prevent the form from submitting normally

                var date = new Date($('#Date_Residency').val());
                var formattedDate = new Intl.DateTimeFormat('en-US', {
                    month: '2-digit',
                    day: '2-digit',
                    year: 'numeric'
                }).format(date);

                var data = {
                    Lname: $('#Lname').val(),
                    Fname: $('#Fname').val(),
                    Mname: $('#Mname').val(),
                    Phone: $('#Phone').val(),
                    Email: $('#Email').val(),
                    Block: $('#Block').val(),
                    Lot: $('#Lot').val(),
                    Username: $('#Username').val(),
                    Password: $('#Password').val(),
                    Date_Residency: formattedDate,
                    Occupancy: $('#Occupancy').val()
                };

                $.ajax({
                    type: 'POST',
                    url: window.location.origin + '/kvhai/resident/signup',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (response) {
                        alert("success");
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        alert("error");
                        console.log(xhr.responseText);
                    }
                });
            });
        });
        */

    </script>

    @*<script>
            $(document).ready(function () {
                $('#myForm').submit(function (e) {
                    e.preventDefault(); // Prevent the form from submitting normally

                    // Serialize the form data
                    var formData = $(this).serialize();

                    // Send the data using AJAX
                    $.ajax({
                        type: 'POST',
                        url: window.location.origin + '/kvhai/resident/signup',
                        data: formData,
                        success: function (response) {
                            console.log("succ");
                            console.log(response);
                        },
                        error: function (xhr, status, error) {
                            console.log("err");
                            console.log(error);

                        }
                    });
                });
            });
        </script>*@
</body>
</html>