@{
    Layout = null;
}
@model List<Streets>;
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Signup</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/header-font.css" rel="stylesheet" />
    <link href="/css/residentSignup.css" rel="stylesheet" />
    <link href="/lib/editable-select/jquery-editable-select.css" rel="stylesheet" />
    <style>
        .invalid-length {
            display:none;
            width: 100%;
            margin-top: .25rem;
            color: #dc3545;
        }
        .row_address{
            position:relative;
        }

        .btn_add, .btn_remove {
            background-color: #16a34a;
            color: white;
            padding: 1rem;
            border-radius: 6px;
            font-size: 1rem;
            font-weight: 400;
            height: 38px;
            width: 150px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 31px;
        }
        .btn_remove {
            background-color: #dc2626;
        }

        input, select {
            outline: 1px solid rgba(5, 37, 114,.2);
        }
        .btn_wrapper{
            position:relative;
        }
        .btn_register {
            position: absolute;
            top: 31px;
            left: 13px;
            width: 331.33px;
        }

        .code_input{
            border-radius:6px;
            height:50px;
            width:50px;
            margin-right: .5em;
        }
        #btn_Verify{
            width:280px;
            font-weight:600;
        }
    </style>
</head>
<body>

    <div class="container vh-100">
        <div class="container d-flex p-2 mb-3">
            <img src="~/img/kvhai.png" alt="katarungan vilalge" class="me-2" style="width:80px;height:80px;">
            <span class="d-flex align-items-center" id="header">KVHAI</span>
            @*<button class="btn btn-sm btn-info" id="test-btn">Test</button>*@
        </div>

        <div class="container main-form">
            <div class="center-form">
                <ul class="d-flex justify-content-center p-3 m-0">
                    <!-- PROCESS 1 -->
                    <li class="me-2 d-flex">
                        <div class="make-circle active"></div>

                        <i class="process-seperator ms-2"></i>

                    </li>

                    <!-- PROCESS 2 -->
                    <li class="me-2 d-flex">
                        <div class="make-circle"></div>

                        @*<i class="process-seperator ms-2"></i>*@

                    </li>

                    <!-- PROCESS 3 -->
                    @*<li class="me-2 d-flex">
                        <div class="make-circle"></div>

                    </li>*@
                </ul>

                <div class="border"></div>

                <div class="container-fluid main-process">
                    <form id="myForm" autocomplete="off" class="needs-validation" enctype="multipart/form-data" novalidate>
                        @Html.AntiForgeryToken()

                        <!-- INFORMATION PROCESS -->
                        <div class="container" id="information">
                            <div class="container-fluid d-flex justify-content-center mb-3 mt-3">
                                <h3>Information Details</h3>
                            </div>

                            @* PERSONAL INFO *@
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Lname" class="form-label fw-bold fs-6">Last Name</label>
                                        <input type="text" maxlength="50" class="form-control" id="Lname" name="Lname" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Fname" class="form-label fw-bold fs-6">First Name</label>
                                        <input type="text" maxlength="50" class="form-control" id="Fname" name="Fname" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Mname" class="form-label fw-bold fs-6">Middle Name</label>
                                        <input type="text" maxlength="50" class="form-control" id="Mname" name="Mname" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Phone" class="form-label fw-bold fs-6">Phone Number</label>
                                        <div class="form-check input-group mb-3">
                                            <span class="input-group-text" id="num-span">63</span>
                                            <input id="Phone" maxlength="10" name="Phone" type="text" class="form-control" placeholder="" required>
                                            <div class="invalid-feedback">
                                                Required.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Email" class="form-label fw-bold fs-6">Email</label>
                                        <input type="email" maxlength="50" class="form-control" id="Email" name="Email" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Email" class="form-label fw-bold fs-6">Account Number</label>
                                        <input type="text" maxlength="50" class="form-control" id="Account_Number" name="Account_Number" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                            <!--USER CREDENTIALS-->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Username" class="form-label fw-bold fs-6">Username</label>
                                        <input type="text" maxlength="50" class="form-control" id="Username" name="Username" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Password" class="form-label fw-bold fs-6">Password</label>
                                        <input type="password" maxlength="50" class="form-control" id="Password" name="Password" minlength="8" required>
                                        <div class="pass-validation">
                                            <div class="invalid-feedback">
                                                Required.
                                            </div>
                                            <div class="invalid-length">
                                                Password must be atleast 8 characters long.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class=" mb-3">
                                        <label for="cpass" class="form-label fw-bold fs-6">Confirm Password</label>
                                        <input type="password" maxlength="50" class="form-control" id="cpass" minlength="8" required>
                                        <span id="err-msg" class="text-danger" style="display: none;">Passwords do not match</span>
                                    </div>
                                </div>
                                <div class="col-md-4 btn_wrapper">
                                    <div class="mb-3 ">
                                    </div>
                                </div>

                            </div>
                            @* END PERSONAL INFO *@
                        </div>
                    </form>

                    <!--BUTTON SIGNUP-->
                    <div class="container d-flex justify-content-end">
                        <button class="p-2 mb-3 me-2 btn btn-primary text-uppercase fw-bold" id="btn_Signup">Activate</button>
                    </div>
                </div>
                </div>
                
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    @*<script src="~/js/residentSignup.js"></script>*@
    <script src="~/lib/editable-select/jquery-editable-select.js"></script>
    <script>
        $(document).ready(function () {
            var token = "";
            var currentTab = 0;
            var maxTab = 1;
            var minTab = 0;

            $('#cpass').on('change', ConfirmPassword);
            $('#btn_Signup').click(checkInputLength);

            $('#btn_Signup').click(handleRegistration);

            $('#test-btn').on('click', function () {
                $.ajax({
                    type: 'POST',
                    url: '/ResLogin/SendEmail',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        toastr.success("GOOds");
                    },
                    error: function (xhr, status, error) {
                        //console.log(xhr.responseText);
                        toastr.error(xhr.responseText);
                    }
                });
            })

            function handleRegistration(e) {
                e.preventDefault();

                if (!validateCurrentTab()) {
                    toastr.error('Please fill out all required fields correctly.');
                    return;
                }

                var formData = new FormData($('#myForm')[0]);
                var resident = {
                    Lname: $('#Lname').val(),
                    Fname: $('#Fname').val(),
                    Mname: $('#Mname').val(),
                    Phone: $('#Phone').val(),
                    Email: $('#Email').val(),
                    Account_Number: $('#Account_Number').val(),
                    Username: $('#Username').val(),
                    Password: $('#Password').val(),
                };

                $.ajax({
                    type: 'POST',
                    //url: window.location.origin + '/kvhai/resident/signup',
                    url: '/ResLogin/VerifyPage',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (response) {
                        if (response.message) {
                            toastr.success(response.message);
                            if (response.token) {
                                console.log("Verification Token:", response.token);
                                document.cookie = "verifyToken=" + encodeURIComponent(response.token) + "; path=/kvhai/resident";
                                setTimeout(function () {
                                    // Redirect to the route with the token
                                    window.location.href = '/kvhai/resident/verifyaccount/' + encodeURIComponent(response.token);
                                }, 3000);
                            }
                        }
                    },
                    error: function (xhr, status, error) {
                        //console.log(xhr.responseText);
                        toastr.error(xhr.responseText);
                    }
                });
            }

            function validateCurrentTab() {
                const form = $('#myForm'); // jQuery
                const inputs = form.find('input, select');
                let isValid = true;

                inputs.each(function () {
                    const input = $(this); // Store jQuery object reference for `this`
                    if (this.id === 'cpass') {
                        // Handle confirm password separately
                        if (!ConfirmPassword())
                        {
                            isValid = false;
                            input.addClass('is-invalid');
                        }
                        else
                        {
                            input.removeClass('is-invalid');
                        }
                    } else {
                        // Handle other inputs
                        if (!this.checkValidity()) {
                            isValid = false;
                            input.addClass('is-invalid');
                        } else {
                            input.removeClass('is-invalid');
                        }
                    }
                });

                return isValid;
            }

            function updateActiveClass() {
                $('.make-circle').removeClass('active').eq(currentTab).addClass('active');
            }

            //METHOD TO CHECK INPUT LENgTH
            function checkInputLength() {
                const form = $('#myForm'); // jQuery
                const inputs = form.find('input');
                let isValid = true;

                inputs.each(function () {
                    if (this.id === 'Password') {
                        var str = $('#Password').val();
                        if (str.length < 8) {
                            toastr.error("Password atleast 8 characters")
                            this.classList.add('is-invalid');
                        }
                        else {
                            this.classList.remove('is-invalid');
                            $('.invalid-length').addClass('d-none');
                        }
                    }
                });
            }

            //METHOD TO ENSURE NUMBER ONLY
            function InputKeyPress() {
                if (currentTab === 1) {
                    const form = $('.tab').eq(currentTab);
                    const inputs = form.find('input');

                    inputs.each(function () {
                        if (this.id === 'Phone') {
                            $('#Phone').on('keypress', function (e) {

                                var key = e.keyCode || e.which;

                                if (key < 48 || key > 57) {
                                    e.preventDefault();
                                }
                            })
                        }
                        else if (this.id === 'Block') {
                            $('#Block').on('keypress', function (e) {

                                var key = e.keyCode || e.which;

                                if (key < 48 || key > 57) {
                                    e.preventDefault();
                                }
                            })
                        }
                        else if (this.id === 'Lot') {
                            $('#Lot').on('keypress', function (e) {

                                var key = e.keyCode || e.which;

                                if (key < 48 || key > 57) {
                                    e.preventDefault();
                                }
                            })
                        }
                    });


                }
            }

            //METHOD CONFIRM PASOWRD
            function ConfirmPassword() {
                //console.log("jQuery version:", $.fn.jquery);
                //console.log("Password element:", $('#Password').length);
                //console.log("Password value:", $('#Password').val());
                //console.log("cpass element:", $('#cpass').length);
                //console.log("cpass value:", $('#cpass').val());

                const pass = document.getElementById('Password').value;
                const cpass = document.getElementById('cpass');
                const errorMsg = document.getElementById('err-msg');

                const isValid = pass === cpass.value;

                cpass.classList.toggle('is-invalid', !isValid);
                errorMsg.style.display = isValid ? 'none' : 'block';

                //if (!isValid) {
                //    alert("GGWP");
                //}

                return isValid;
            }

            $('input, select').on('input', function () {
                $(this).removeClass('is-invalid');
                $(this).closest('form').removeClass('was-validated');
            });
        });
        
    </script>
</body>
</html>