@{
    Layout = null;
}
@model List<Streets>;
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Signup</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/header-font.css" rel="stylesheet" />
    <link href="/css/residentSignup.css" rel="stylesheet" />
    <link href="/lib/editable-select/jquery-editable-select.css" rel="stylesheet" />
    <style>
        .invalid-length {
            display:none;
            width: 100%;
            margin-top: .25rem;
            color: #dc3545;
        }
    </style>
</head>
<body>

    <div class="container vh-100">
        <div class="container d-flex p-2 mb-3">
            <img src="~/img/kvhai.png" alt="katarungan vilalge" class="me-2" style="width:80px;height:80px;">
            <span class="d-flex align-items-center" id="header">KVHAI</span>
            <button id="test-btn">Test</button>
        </div>

        <div class="container main-form">
            <div class="center-form">
                <ul class="d-flex justify-content-center p-3 m-0">
                    <!-- PROCESS 1 -->
                    <li class="me-2 d-flex">
                        <div class="make-circle active"></div>

                        <i class="process-seperator ms-2"></i>

                    </li>

                    <!-- PROCESS 2 -->
                    <li class="me-2 d-flex">
                        <div class="make-circle"></div>

                        <i class="process-seperator ms-2"></i>

                    </li>

                    <!-- PROCESS 3 -->
                    <li class="me-2 d-flex">
                        <div class="make-circle"></div>

                    </li>
                </ul>

                <div class="border"></div>

                <div class="container-fluid main-process">
                    <form id="myForm" autocomplete="off" class="needs-validation" enctype="multipart/form-data" novalidate>

                        @Html.AntiForgeryToken()

                        <!-- OCCUPANCY PROCESS -->
                        <div class="container tab mt-3 mb-3 " id="occupancy">
                            <div class="container-fluid d-flex justify-content-center mb-3 mt-3">
                                <h3>Occupancy</h3>
                            </div>


                            <div class="form-check mb-3">
                                <select id="Occupancy" name="Occupancy" class="form-select form-select-lg mb-3" required>
                                    <option value="" disabled selected hidden>Select</option>
                                    <option value="1">Owner</option>
                                    <option value="2">Renter</option>
                                </select>
                                <div class="invalid-feedback">
                                    Required.
                                </div>
                            </div>


                        </div>


                        <!--END OCCUPANCY PROCESS -->
                        <!-- INFORMATION PROCESS -->
                        <div class="container tab" id="information">
                            <div class="container-fluid d-flex justify-content-center mb-3 mt-3">
                                <h3>Information Details</h3>
                            </div>

                            @* ADDRESS *@
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Block" class="form-label fw-bold fs-6">Block</label>
                                        <input type="text" min="1" class="form-control" id="Block" name="Block" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Lot" class="form-label fw-bold fs-6">Lot</label>
                                        <input type="text" min="1" class="form-control" id="Lot" name="Lot" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="fname" class="form-label fw-bold fs-6">Street</label>
                                        
                                        <select id="select-street" class="form-select" aria-label="Default select example" required>
                                            @{
                                                foreach (var item in Model)
                                                {
                                                    <option value="@item.Street_ID">@item.Street_Name</option>
                                                }
                                            }
                                        </select>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*END ADDRESS *@


                            @* PERSONAL INFO *@
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Lname" class="form-label fw-bold fs-6">Last Name</label>
                                        <input type="text" maxlength="50" class="form-control" id="Lname" name="Lname" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Fname" class="form-label fw-bold fs-6">First Name</label>
                                        <input type="text" maxlength="50" class="form-control" id="Fname" name="Fname" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Mname" class="form-label fw-bold fs-6">Middle Name</label>
                                        <input type="text" maxlength="50" class="form-control" id="Mname" name="Mname" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Phone" class="form-label fw-bold fs-6">Phone Number</label>
                                        <div class="form-check input-group mb-3">
                                            @*<select class="form-select input-group-text" id="num-span" aria-label="Default select example">
            <option selected value="63">63</option>
            <option value="0">0</option>
        </select>*@
                                            <span class="input-group-text" id="num-span">63</span>
                                            <input id="Phone" maxlength="10" name="Phone" type="text" class="form-control" placeholder="" required>
                                            <div class="invalid-feedback">
                                                Required.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Email" class="form-label fw-bold fs-6">Email</label>
                                        <input type="email" maxlength="50" class="form-control" id="Email" name="Email" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Date_Residency" class="form-label fw-bold fs-6">Date of Residency</label>
                                        <input type="date" class="form-control" id="Date_Residency" name="Date_Residency" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Username" class="form-label fw-bold fs-6">Username</label>
                                        <input type="text" maxlength="50" class="form-control" id="Username" name="Username" required>
                                        <div class="invalid-feedback">
                                            Required.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check mb-3">
                                        <label for="Password" class="form-label fw-bold fs-6">Password</label>
                                        <input type="password" maxlength="50" class="form-control" id="Password" name="Password" minlength="8" required>
                                        <div class="pass-validation">
                                            <div class="invalid-feedback">
                                                Required.
                                            </div>
                                            <div class="invalid-length">
                                                Password must be atleast 8 characters long.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class=" mb-3">
                                        <label for="cpass" class="form-label fw-bold fs-6">Confirm Password</label>
                                        <input type="password" maxlength="50" class="form-control" id="cpass" minlength="8" required>
                                        <span id="err-msg" class="text-danger" style="display: none;">Passwords do not match</span>
                                    </div>
                                    
                                </div>

                            </div>
                            @* END PERSONAL INFO *@

                        </div>
                        <!-- END INFORMATION PROCESS -->
                        <!-- PROOF PROCESS -->
                        <div class="container tab" id="proof-validation">
                            <div class="container-fluid d-flex justify-content-center mb-3 mt-3">
                                <h3>Proof of Validation</h3>
                            </div>
                            <div class="input-group-sm form-check mb-3">
                                <input type="file" class="form-control" id="Image" accept="image/*" required>
                                <div class="invalid-feedback">
                                    Required.
                                </div>
                            </div>
                        </div>
                        <!-- END PROOF PROCESS -->


                    </form>
                    <div class="container btn-buttons">
                        <button class="p-2 mb-3 btn-prev me-2" id="prev-btn">Previous</button>
                        <button class="p-2 mb-3" type="submit" id="btn-register">TEST</button>
                        <button class="p-2 mb-3 btn-next" id="next-btn">Next</button>
                    </div>
                </div>

            </div>
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/js/residentSignup.js"></script>
    <script src="~/lib/editable-select/jquery-editable-select.js"></script>
    <script>
        $('#select-street').editableSelect();
    </script>

</body>
</html>