@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Signup</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-icon.css">
    <link href="~/css/header-font.css" rel="stylesheet" />


    <style>
        body {
            -webkit-text-size-adjust: 100%;
            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;
            font-size: .8rem;
        }

        #header {
            /*color: #60a5fa;*/
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            letter-spacing: .5rem;
            font-size: 3rem;
            color: #1B8EC9;
        }

        .center-form {
            border: 1px solid gray;
            border-radius: 10px;
            box-shadow: 1px 1px 4px 7px rgba(0, 0, 0, .25);
            width:100%;
        }

        .main-form{
            /*height: calc(100vh - 70px);*/
            display:flex;
            align-items:center;
            justify-content:center;
        }

        .center-text {
            font-family: "Poetsen One", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 2rem;
        }

        ul{
            list-style-type: none;
        }

        .process-seperator {
            display: flex;
            border: 1px solid #9DABB1;
            width: 20px;
            height:1px;
            align-self: center;
            justify-content:center;
        }

        .btn-next {
            font-family: "Poetsen One", sans-serif;
            font-weight: 200;
            font-style: normal;
            letter-spacing: 2px;
            background-color: #1B8EC9;
            color:white;
        }

        h3 {
            color:#3D5170;
        }

    </style>
</head>
<body>
    <div class="container vh-100">
        <div class="container d-flex p-4">
            <img src="~/img/kvhai.png" alt="katarungan vilalge" class="me-2" style="width:100px;height:100px;">
            <span class="d-flex align-items-center" id="header">KVHAI</span>
        </div>
        
        <div class="container main-form mt-5">

            <div class="center-form ">
                <ul class="d-flex justify-content-center p-3 m-0">
                    <!-- PROCESS 1 -->
                    <li class="me-2 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                            <g fill="white" stroke="#9DABB1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0-18 0" />
                                <path d="m10 10l2-2v8" />
                            </g>
                        </svg>
                        <i class="process-seperator ms-2"></i>

                    </li>

                    <!-- PROCESS 2 -->
                    <li class="me-2 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                            <g fill="white" stroke="#9DABB1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0-18 0" />
                                <path d="M10 8h3a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h3" />
                            </g>
                        </svg>
                        <i class="process-seperator ms-2"></i>

                    </li>

                    <!-- PROCESS 3 -->
                    <li class="me-2 d-flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 24 24">
                            <g fill="white" stroke="#9DABB1" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 1 0-18 0" />
                                <path d="M10 9a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1" />
                            </g>
                        </svg>
                    </li>
                </ul>

                <div class="border"></div>

                <!-- OCCUPANCY PROCESS -->
                <div class="container mt-3 mb-3 d-none" id="occupancy">
                    <h3>Occupancy:</h3>

                    <select class="form-select form-select-lg mb-3" aria-label="Large select example" required>
                        <option disabled selected hidden>Select</option>
                        <option value="1">Owner</option>
                        <option value="2">Renter</option>
                    </select>

                    <div class="d-flex justify-content-end">
                        <a class="btn p-2 mb-3 btn-next" id="">Next</a>
                    </div>
                </div>
                

                <!--END OCCUPANCY PROCESS -->

                <!-- INFORMATION PROCESS -->
                <div class="container">
                    <div class="container-fluid d-flex justify-content-center mb-3 mt-3">
                        <h3>Information Details</h3>
                    </div>
                    <form autocomplete="off">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="fname" class="form-label fw-bold fs-6">Last Name</label>
                                    <input type="text" class="form-control" id="fname">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="fname" class="form-label fw-bold fs-6">First Name</label>
                                    <input type="text" class="form-control" id="fname">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="fname" class="form-label fw-bold fs-6">Middle Name</label>
                                    <input type="text" class="form-control" id="fname">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="fname" class="form-label fw-bold fs-6">Phone Number</label>
                                    <input type="text" class="form-control" id="fname">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="fname" class="form-label fw-bold fs-6">Email</label>
                                    <input type="text" class="form-control" id="fname">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="fname" class="form-label fw-bold fs-6">Username</label>
                                    <input type="text" class="form-control" id="fname">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="fname" class="form-label fw-bold fs-6">Password</label>
                                    <input type="text" class="form-control" id="fname">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="fname" class="form-label fw-bold fs-6">Confirm Password</label>
                                    <input type="text" class="form-control" id="fname">
                                </div>
                            </div>
                            <div class="col-md-4 d-flex align-items-end justify-content-end">
                                    <a class="btn p-2 mb-3 btn-next" id="">Next</a>
                            </div>
                        </div>


                    </form>
                </div>
                <!-- END INFORMATION PROCESS -->

            </div>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script>
        var occupy = $('#occupancy');
    </script>
    
</body>
</html>