
@{
    Layout = null;
    ViewData["Title"] = "Verify Account";
    var token = ViewData["token"] as string;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Signup</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/header-font.css" rel="stylesheet" />
    <link href="/css/residentSignup.css" rel="stylesheet" />
    <link href="/lib/editable-select/jquery-editable-select.css" rel="stylesheet" />
    <style>
        .invalid-length {
            display: none;
            width: 100%;
            margin-top: .25rem;
            color: #dc3545;
        }

        .row_address {
            position: relative;
        }

        .btn_add, .btn_remove {
            background-color: #16a34a;
            color: white;
            padding: 1rem;
            border-radius: 6px;
            font-size: 1rem;
            font-weight: 400;
            height: 38px;
            width: 150px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 31px;
        }

        .btn_remove {
            background-color: #dc2626;
        }

        input {
            outline: 1px solid rgba(5, 37, 114,.2);
        }

        .btn_wrapper {
            position: relative;
        }

        .btn_register {
            position: absolute;
            top: 31px;
            left: 13px;
            width: 331.33px;
        }

        .code_input {
            border-radius: 6px;
            height: 50px;
            width: 50px;
            margin-right: .5em;
        }

        #btn_Verify, #btn_Send {
            width: 280px;
            font-weight: 600;
        }
    </style>
</head>
<body>
    <div class="container vh-100">
        <div class="container d-flex p-2 mb-3">
            <img src="~/img/kvhai.png" alt="katarungan vilalge" class="me-2" style="width:80px;height:80px;">
            <span class="d-flex align-items-center" id="header">KVHAI</span>
            <button id="test-btn">Test</button>
        </div>

        <div class="container main-form">
            <div class="center-form">
                <ul class="d-flex justify-content-center p-3 m-0">
                    <!-- PROCESS 1 -->
                    <li class="me-2 d-flex">
                        <div class="make-circle"></div>

                        <i class="process-seperator ms-2"></i>

                    </li>

                    <!-- PROCESS 2 -->
                    <li class="me-2 d-flex">
                        <div class="make-circle active"></div>
                </ul>

                <div class="border"></div>

                <div class="container-fluid main-process">
                    <!--VERIFY ACCOUNT-->
                    <div class="container mb-3" id="information">
                        <div class="container-fluid d-flex justify-content-center mt-3">
                            <h3>Verify Account</h3>
                        </div>
                        <div class="verify_content">
                            <h6 class="text-center">Enter 4-digit code sent to your email <b id="email">@ViewData["Email"]</b></h6>

                            <div class="d-flex justify-content-center inputs">
                                <input class="code_input text-center" type="text" name="code1" id="code1" value="" maxlength="1" autocomplete="off" />
                                <input class="code_input text-center" type="text" name="code2" id="code2" value="" maxlength="1" autocomplete="off" />
                                <input class="code_input text-center" type="text" name="code3" id="code3" value="" maxlength="1" autocomplete="off" />
                                <input class="code_input text-center" type="text" name="code4" id="code4" value="" maxlength="1" autocomplete="off" />
                            </div>
                            <div class="container d-flex justify-content-center mt-3 d-none" id="timer">
                                <span>Time Remaining</span>
                                <span class="ms-1 fw-bold" id="time">3:00</span>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button class="btn btn-primary" id="btn_Send">Send Code</button>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button class="btn btn-primary" id="btn_Verify">Verify</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    @*<script src="~/js/residentSignup.js"></script>*@
    <script src="~/lib/editable-select/jquery-editable-select.js"></script>
    <script>
        $(document).ready(function () {

            var currentTab = 0;
            var maxTab = 1;
            var minTab = 0;

            //INITIALIZE METHOD


            codeVerify();
            //TokenExist();
            //END INITIALIZING METHOD

            $('#btn_Verify').click(SubmitCode)

            function codeVerify() {
                $('.code_input').on('input', function () {
                    var $input = $(this);
                    if ($input.val().length === 1) {
                        // Move to the next input if the length is 1
                        $input.next('.code_input').focus();
                    }
                });

                $('.code_input').on('keydown', function (e) {
                    var $input = $(this);
                    if (e.key === "Backspace" && $input.val() === '') {
                        // Move to the previous input if Backspace is pressed and input is empty
                        $input.prev('.code_input').focus();
                    }
                });
            }

            function updateActiveClass() {
                $('.make-circle').removeClass('active').eq(currentTab).addClass('active');
            }


            //METHOD TO ENSURE NUMBER ONLY
            function InputKeyPress() {
                if (currentTab === 1) {
                    const form = $('.tab').eq(currentTab);
                    const inputs = form.find('input');

                    inputs.each(function () {
                        $('.code_input').on('keypress', function (e) {

                            var key = e.keyCode || e.which;

                            if (key < 48 || key > 57) {
                                e.preventDefault();
                            }
                        })
                    });


                }
            }

            $('input, select').on('input', function () {
                $(this).removeClass('is-invalid');
                $(this).closest('form').removeClass('was-validated');
            });

            $(document).on('click', '#btn_Send', function () {
                $(this).addClass('disabled');
                SendCodeToEmail();
                $('#code1').focus();
            });

            function TokenExist() {
                var email = $('#email').text()
                if (!email) {
                    alert("not Exist");
                    window.location.replace('/kvhai/resident/login');
                    
                }
            }

            function SubmitCode() {
                var allInputsFilled = true;

                //this code check empty inputs
                $('.inputs input').each(function () {
                    if ($(this).val().trim() === '') {
                        allInputsFilled = false;
                        toastr.error("Please fill out the code");
                        return false; // Exit the loop immediately
                    }
                });
                var _code = getVerificationCode();//join the 4 inputs in one string
                if (allInputsFilled) {
                    var formData = {
                        Code: _code,
                        Email: $('#email').text()
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/ResLogin/VerifyCode',
                        data: formData,
                        success: function (response) {
                            toastr.info("Your account is now activated.");
                            setTimeout(function () {
                                 window.location.replace('/kvhai/resident/login');
                            },3000);
                        },
                        error: function (xhr, status, error) {
                            toastr.error(xhr.responseText);
                            $('#btn_Send').removeClass('disabled');
                        }
                    });
                }
            }

            function getVerificationCode() {
                var verificationCode = '';
                $('.code_input').each(function () {
                    verificationCode += $(this).val().trim();
                });

                if (verificationCode.length === 4) {
                    return verificationCode;
                } //else {
                //    toastr.error("Please fill out all 4 digits of the verification code.");
                //    return null;
                //}
            }

            function SendCodeToEmail() {
                var formData = {
                    Email: $('#email').text()
                };
                $.ajax({
                    type: 'POST',
                    url: '/ResLogin/SendCode',
                    data: formData,
                    success: function (response) {
                        toastr.info(response);
                        var threeMinutes = 60 * 3,
                            display = $('#time');
                        startTimer(threeMinutes, display);
                        $('#timer').removeClass('d-none');
                    },
                    error: function (xhr, status, error) {
                        toastr.error(xhr.responseText);
                        $('#btn_Send').removeClass('disabled');
                    }
                });
            }

            function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                var interval = setInterval(function () {
                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);
                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;
                    display.text(minutes + ":" + seconds);
                    if (--timer < 0) {
                        clearInterval(interval);
                        $('#btn_Send').removeClass('disabled');
                        $('#timer').addClass('d-none');
                    }
                }, 1000);
            }

            $(window).on('beforeunload', function () {
                // Delete the cookie when the page is unloaded (closed or refreshed)
                document.cookie = "verifyToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/kvhai/resident;";
            });

            $(window).on('popstate', function () {
                // Delete the cookie when the back button is clicked
                document.cookie = "verifyToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/kvhai/resident;";
            });
        });

    </script>
</body>
</html>