@{
    ViewBag.Title = "Water Billing";
}
@section head{ 
    <style>
        .tableData {
            border-radius: 5px;
            background-color: #f9f9f9;
            font-size: 1rem;
        }

        .header-section {
            border-radius: 5px 5px 0 0;
            border-bottom: 2px solid #ccc;
        }

        .tableRow {
            border: 1px solid #ddd;
            background-color: #fff;
            /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
        }

        .tableContents {
            /*border-radius: 0 0 5px 5px;*/
            background-color: #e2e8f0;
            box-shadow: 0 4px 4px rgba(71, 85, 105, 0.1);
            padding: 3px;
            margin-bottom: 8px;
            border-color: #334155;
            border-radius: 5px;
        }

        .details-section {
            transition: max-height 0.5s ease;
            overflow: hidden;
            /*max-height: 0;*/
        }

        .details-section {
            display: none;
            /*max-height: 300px;*/ /* Adjust based on your content */
        }

        .details-section.show {
            /*max-height: 300px;*/ /* Adjust based on your content */
            display:block;
        }

        .toggle-details {
            cursor: pointer;
            font-size: 1.2em;
        }

        .border-black {
            border-color: #334155;
        }
    </style>
}

@section scripts{ 
    <script>
        $(document).ready(function () {
            $('.toggle-details').on('click', function () {
                var detailsSection = $(this).closest('.tableContents').find('.details-section');
                detailsSection.toggleClass('show');

                // Toggle caret icon direction
                $(this).toggleClass('fa-caret-up fa-caret-down');
            });
        });
    </script>
}

<div class="content-container p-3" id="waterReadingView">
    <div class="row">
        <div class="col">
            <div class="d-flex flex-column align-items-start">
                <span class="title">KVHAI WATERWORKS </span>
                <span class="title">Water Bill No. ??</span>
                <span class="title">PERIOD COVER DATE</span>
            </div>
        </div>
        <div class="col d-flex justify-content-end ">
            <select id="location" class="form-select w-75 mt-3 mb-3" aria-label="Default select example">
                <option selected value="1">Phase 2 (Blk 51 to  143)</option>
                <option value="2">Phase 1 (Blk 41 to  48)</option>
                <option value="3">Blk 24 to 40</option>
                <option value="4">Blk 7 to 23</option>
                <option value="">All</option>
            </select>
        </div>
    </div>
    <div class="container border" id="tableView">
        <div class="row">
            <div class="col">
                <select id="location" class="form-select w-75 mt-3 mb-3" aria-label="Default select example">
                    <option selected value="1">Phase 2 (Blk 51 to  143)</option>
                    <option value="2">Phase 1 (Blk 41 to  48)</option>
                    <option value="3">Blk 24 to 40</option>
                    <option value="4">Blk 7 to 23</option>
                    <option value="">All</option>
                </select>
            </div>
            <div class="col d-flex justify-content-end">
                <button class="btn-secondary me-2">PRINT</button>
                <button class="btn-secondary">EXPORT</button>
            </div>
        </div>
        <div class="tableData mb-2">
            <div class="header-section bg-secondary p-2">
                <div class="d-flex justify-content-between">
                    <span class="text-white fw-bold">WATER BILLS</span>
                    <span class="text-white">PERIOD COVERED:</span>
                </div>
            </div>

            <!-- MAIN CONTENT -->
            <div class="tableRow p-2">
                <div class="tableContents">
                    <div class="d-flex justify-content-between align-items-center border-bottom border-secondary-subtle pb-2">
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">WB No.</span>
                            <span>12345</span>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">Name</span>
                            <span>John Doe</span>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">Block</span>
                            <span>12</span>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">Lot</span>
                            <span>34</span>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">Date</span>
                            <span>08/2024</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-caret-up toggle-details"></i>
                        </div>
                    </div>

                    <div class="details-section mt-3">
                        <div class="row pb-1">

                            <!-- METER READING -->
                            <div class="col border border-black text-center">
                                <div class="fw-bold text-uppercase">Meter Readings</div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="fw-bold">Previous</div>
                                        <div>1000</div>
                                    </div>
                                    <div class="col">
                                        <div class="fw-bold">Present</div>
                                        <div>2000</div>
                                    </div>
                                </div>
                            </div>

                            <!-- CONSUMPTION -->
                            <div class="col border border-black text-center">
                                <div class="fw-bold text-uppercase">Consumption</div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="fw-bold">Volume</div>
                                        <div>69 Cu.M</div>
                                    </div>
                                    <div class="col">
                                        <div class="fw-bold">Rate per cubic</div>
                                        <div>18</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-1">

                            <div class="col border border-black">

                                <!-- DATE ISSUED -->
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="fw-bold text-uppercase ms-3">Date Issued:</div>
                                    </div>
                                    <div class="col ">
                                        <div class="text-uppercase text-center">2024-08-01</div>
                                    </div>
                                </div>

                                <!-- DUE DATE-->
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="fw-bold text-uppercase ms-3">Due Date:</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-uppercase text-center">2024-08-01</div>
                                    </div>
                                </div>

                                <!-- PREVIOUS WATERBILL-->
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="fw-bold text-uppercase ms-3">Previous waterbill:</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-uppercase text-center">WB2</div>
                                    </div>
                                </div>


                            </div>

                            <!-- AMOUNT DUE -->
                            <div class="col border border-black text-center">
                                <div class="fw-bold text-uppercase">amount due - water</div>

                                <!--CURRENT DUE-->
                                <div class="row mt-2">
                                    <div class="col d-flex justify-content-end">
                                        <div class="fw-bold text-uppercase ms-3">&#8369</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-uppercase text-center">1,500.00</div>
                                    </div>
                                </div>

                                <!--ARREARS-->
                                <div class="row mt-2">
                                    <div class="col d-flex justify-content-end">
                                        <div class="fw-bold text-uppercase ms-3">&#8369</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-uppercase text-center">1,500.00</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row pb-1">

                            <div class="col border border-black d-flex align-content-center">
                                <!-- TOTAL -->
                                <div class="fw-bold text-uppercase ms-3">TOTAL</div>
                            </div>

                            <div class="col border border-black ">
                                <!--TOTAL DUE-->
                                <div class="row mt-2 ">
                                    <div class="col d-flex justify-content-end">
                                        <div class="fw-bold text-uppercase ms-3">&#8369</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-uppercase text-center">3,000.00</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tableContents">
                    <div class="d-flex justify-content-between align-items-center border-bottom pb-2">
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">WB No.</span>
                            <span>12345</span>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">Name</span>
                            <span>John Doe</span>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">Block</span>
                            <span>12</span>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">Lot</span>
                            <span>34</span>
                        </div>
                        <div class="d-flex flex-column align-items-center">
                            <span class="fw-bold">Date</span>
                            <span>08/2024</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-caret-up toggle-details"></i>
                        </div>
                    </div>

                    <div class="details-section mt-3">
                        <div class="row pb-1">

                            <!-- METER READING -->
                            <div class="col border text-center">
                                <div class="fw-bold text-uppercase">Meter Readings</div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="fw-bold">Previous</div>
                                        <div>1000</div>
                                    </div>
                                    <div class="col">
                                        <div class="fw-bold">Present</div>
                                        <div>2000</div>
                                    </div>
                                </div>
                            </div>

                            <!-- CONSUMPTION -->
                            <div class="col border text-center">
                                <div class="fw-bold text-uppercase">Consumption</div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="fw-bold">Volume</div>
                                        <div>69 Cu.M</div>
                                    </div>
                                    <div class="col">
                                        <div class="fw-bold">Rate per cubic</div>
                                        <div>18</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row pb-1">

                            <div class="col border">

                                <!-- DATE ISSUED -->
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="fw-bold text-uppercase ms-3">Date Issued:</div>
                                    </div>
                                    <div class="col ">
                                        <div class="text-uppercase text-center">2024-08-01</div>
                                    </div>
                                </div>

                                <!-- DUE DATE-->
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="fw-bold text-uppercase ms-3">Due Date:</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-uppercase text-center">2024-08-01</div>
                                    </div>
                                </div>

                                <!-- PREVIOUS WATERBILL-->
                                <div class="row mt-2">
                                    <div class="col">
                                        <div class="fw-bold text-uppercase ms-3">Previous waterbill:</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-uppercase text-center">WB2</div>
                                    </div>
                                </div>


                            </div>

                            <!-- AMOUNT DUE -->
                            <div class="col border text-center">
                                <div class="fw-bold text-uppercase">amount due - water</div>

                                <!--CURRENT DUE-->
                                <div class="row mt-2">
                                    <div class="col d-flex justify-content-end">
                                        <div class="fw-bold text-uppercase ms-3">&#8369</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-uppercase text-center">1,500.00</div>
                                    </div>
                                </div>

                                <!--ARREARS-->
                                <div class="row mt-2">
                                    <div class="col d-flex justify-content-end">
                                        <div class="fw-bold text-uppercase ms-3">&#8369</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-uppercase text-center">1,500.00</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row pb-1">

                            <div class="col border d-flex align-content-center">
                                <!-- TOTAL -->
                                <div class="fw-bold text-uppercase ms-3">TOTAL</div>
                            </div>

                            <div class="col border ">
                                <!--TOTAL DUE-->
                                <div class="row mt-2 ">
                                    <div class="col d-flex justify-content-end">
                                        <div class="fw-bold text-uppercase ms-3">&#8369</div>
                                    </div>
                                    <div class="col">
                                        <div class="text-uppercase text-center">3,000.00</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div>