<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="/css/header-font.css" rel="stylesheet" />
    <link href="/css/_preloader.css" rel="stylesheet" />
</head>
<body>
    <div class="preloader">
        @*<img src="/img/kvhai.png" alt="Alternate Text" />*@
        <div class="preloadText">KVHAI...</div>
        @*<div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>*@
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
        
    </script>
</body>
</html>