@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Resident Login</title>

    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-icon.css">
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/header-font.css" rel="stylesheet" />
    <style>
        input {
            outline: 1px solid rgba(5, 37, 114,.2);
        }

        .code_input {
            border-radius: 6px;
            height: 40px;
            width:40px;
            margin-right: .5em;
        }
    </style>
</head>
<body>
    <div class="container vh-100">
        <div class="container d-flex p-2">
            <img src="~/img/kvhai.png" alt="katarungan vilalge" class="me-2" style="width:50px;height:50px;">
            <span id="header">KVHAI</span>
        </div>

        <div class="container d-flex flex-column res-login">
            <div class="container flex-grow-1 d-flex justify-content-center align-items-center">

                @* CENTER FORM *@
                <div class="row center-form">
                    @* RIGHT SIDE *@
                    <div class="col-12 p-2 ">
                        <div class="container pe-2 ps-2">
                            <div class="container center-text  d-flex mb-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100px" height="100px" viewBox="0 0 24 24">
                                    <path fill="#1b8ec9" d="M12 1L3 5v6c0 5.5 3.8 10.7 9 12c5.2-1.3 9-6.5 9-12V5zm4 14.8c0 .6-.6 1.2-1.3 1.2H9.2c-.6 0-1.2-.6-1.2-1.3v-3.5c0-.6.6-1.2 1.2-1.2V8.5C9.2 7.1 10.6 6 12 6s2.8 1.1 2.8 2.5V9h-1.3v-.5c0-.8-.7-1.3-1.5-1.3s-1.5.5-1.5 1.3V11h4.3c.6 0 1.2.6 1.2 1.3z" />
                                </svg>
                                <p class="ms-2 d-flex align-items-center">Forgot Password</p>
                            </div>

                            <div class="views" id="view_email">
                                    <!-- Email -->
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-check mb-3 ps-0">
                                                <label for="Email" class="form-label fw-bold fs-6">Enter Email Address</label>
                                                <input type="email" maxlength="50" class="form-control" id="Email" name="Email" required>
                                                <div class="invalid-input text-danger d-none">
                                                    Required.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-3">
                                            <button class="btn btn-primary w-100" id="btn_Send">Send Code</button>
                                        </div>
                                    </div>
                            </div>

                            <!-- CODE -->
                            <div class="views d-none" id="view_code">
                                <div class="d-flex justify-content-center inputs mt-3">
                                    <input class="code_input text-center" type="text" name="code1" id="code1" value="" maxlength="1" autocomplete="off" />
                                    <input class="code_input text-center" type="text" name="code2" id="code2" value="" maxlength="1" autocomplete="off" />
                                    <input class="code_input text-center" type="text" name="code3" id="code3" value="" maxlength="1" autocomplete="off" />
                                    <input class="code_input text-center" type="text" name="code4" id="code4" value="" maxlength="1" autocomplete="off" />
                                </div>
                                <div class="container d-flex justify-content-center mt-3 d-none" id="timer">
                                    <span>Time Remaining</span>
                                    <span class="ms-1 fw-bold" id="time">3:00</span>
                                </div>
                                <div class="d-flex justify-content-center mt-3 mb-3">
                                    <button class="btn btn-primary w-100" id="btn_Verify">Verify</button>
                                </div>
                            </div>

                            <!--PASSWORD-->
                            <div class="views d-none" id="view_password">
                                <form class="needs-validation" id="form_password" novalidate>
                                    @Html.AntiForgeryToken()
                                    <div class="form-check mb-3 ps-0">
                                        <label for="Password" class="form-label fw-bold fs-6">Password</label>
                                        <input type="password" maxlength="50" class="form-control" id="Password" name="Password" minlength="8" required>
                                        <div class="pass-validation">
                                            <div class="invalid-feedback">
                                                Required.
                                            </div>
                                            <div class="invalid-length d-none text-danger">
                                                Password must be atleast 8 characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" mb-3">
                                        <label for="cpass" class="form-label fw-bold fs-6">Confirm Password</label>
                                        <input type="password" maxlength="50" class="form-control" id="cpass" minlength="8" required>
                                        <span id="err-msg" class="text-danger" style="display: none;">Passwords do not match</span>
                                    </div>
                                    <div class="d-flex justify-content-center mt-3 mb-3">
                                        <button class="btn btn-primary w-100" id="btn_ChangePass">Change Password</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            //METHOD INITIALIZER
            codeVerify();
            $('#cpass').on('change', ConfirmPassword);

            $('#btn_Send').on('click', function (e) {
                e.preventDefault();
                SendCodeToEmail();
            })
            $('#btn_Verify').on('click', function (e) {
                e.preventDefault();

                SubmitCode();
            });

            $('#btn_ChangePass').on('click', function (e) {
                e.preventDefault();
                var token = $('input[name="__RequestVerificationToken"]').val();

                if (checkInputLength() && ConfirmPassword())//true condition
                {
                    var _pass = $('#Password').val();
                    var _email = $('#Email').val();
                    var formData = {
                        __RequestVerificationToken: token, 
                        password: _pass,
                        email: 'dorojavince@gmail.com'
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/ResLogin/UpdatePassword',
                        data: formData,
                        success: function (response) {
                            toastr.info(response);
                            setTimeout(function () {
                                window.location.replace('/kvhai/resident/login');
                            },1000)
                        },
                        error: function (xhr, status, error) {
                            toastr.error(xhr.responseText);
                            //$('#btn_Send').removeClass('disabled');
                        }
                    });
                }
            });


            function SendCodeToEmail() {
                var _email = $('#Email').val();
                if (!_email) {
                    $('#Email').addClass('is-invalid');
                    $('.invalid-input').removeClass('d-none');
                    return null;
                }
                var formData = {
                    Email: _email
                };
                $.ajax({
                    type: 'POST',
                    url: '/ResLogin/SendCode',
                    data: formData,
                    success: function (response) {
                        $('#view_email').addClass('d-none');
                        $('#view_code').removeClass('d-none'); 

                        toastr.info(response);
                        var threeMinutes = 60 * 3,
                            display = $('#time');
                        startTimer(threeMinutes, display);
                        $('#timer').removeClass('d-none');
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseText.includes("already")) {
                            toastr.info(xhr.responseText);
                            $('#view_email').addClass('d-none');
                            $('#view_code').removeClass('d-none'); 
                        }
                        else {
                            toastr.error(xhr.responseText);
                        }

                        //$('#btn_Send').removeClass('disabled');
                    }
                });
            }

            function startTimer(duration, display) {
                var timer = duration, minutes, seconds;
                var interval = setInterval(function () {
                    minutes = parseInt(timer / 60, 10);
                    seconds = parseInt(timer % 60, 10);
                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    seconds = seconds < 10 ? "0" + seconds : seconds;
                    display.text(minutes + ":" + seconds);
                    if (--timer < 0) {
                        clearInterval(interval);
                        //$('#btn_Send').removeClass('disabled');
                        $('#timer').addClass('d-none');
                    }
                }, 1000);
            }

            //$('#btn_Verify').click();
            function SubmitCode() {
                var _code = getVerificationCode();//join the 4 inputs in one string
                
                if (_code) {
                    var formData = {
                        Code: _code,
                        Email: $('#Email').val()
                    };
                    $.ajax({
                        type: 'POST',
                        url: '/ResLogin/VerifyCode',
                        data: formData,
                        success: function (response) {
                            toastr.info(response);
                            $('#view_code').addClass('d-none');  // Hide code view
                            $('#view_password').removeClass('d-none');  // Show password view;
                        },
                        error: function (xhr, status, error) {
                            toastr.error(xhr.responseText);
                            $('#btn_Send').removeClass('disabled');
                        }
                    });
                }
            }

            function getVerificationCode() {
                var verificationCode = '';
                $('.code_input').each(function () {
                    verificationCode += $(this).val().trim();
                });

                if (verificationCode.length === 4) {
                    return verificationCode;
                }
                else {
                    toastr.error("Please fill out all 4 digits of the verification code.");
                    return null;
                }
            }

            function codeVerify() {
                $('.code_input').on('input', function () {
                    var $input = $(this);
                    if ($input.val().length === 1) {
                        // Move to the next input if the length is 1
                        $input.next('.code_input').focus();
                    }
                });

                $('.code_input').on('keydown', function (e) {
                    var $input = $(this);
                    if (e.key === "Backspace" && $input.val() === '') {
                        // Move to the previous input if Backspace is pressed and input is empty
                        $input.prev('.code_input').focus();
                    }
                });
            }

            //METHOD TO CHECK INPUT LENgTH
            function checkInputLength() {
                const password = $('#Password').val();
                let isValid = true;

                if (password.length < 8) {
                    toastr.error("Password atleast 8 characters")
                    $('#Password').addClass('is-invalid');
                    $('.invalid-length').removeClass('d-none');
                    isValid = false;
                }
                else {
                    $('#Password').removeClass('is-invalid');
                    $('.invalid-length').addClass('d-none');
                    isValid = true;
                }

                return isValid;
            }

            function ConfirmPassword() {
                const pass = document.getElementById('Password').value;
                const cpass = document.getElementById('cpass');
                const errorMsg = document.getElementById('err-msg');

                const isValid = pass === cpass.value;

                cpass.classList.toggle('is-invalid', !isValid);
                errorMsg.style.display = isValid ? 'none' : 'block';

                //if (isValid) {
                //    alert("true");
                //}

                return isValid;
            }
            $('input, select').on('input', function () {
                $(this).removeClass('is-invalid');
                $(this).closest('form').removeClass('was-validated');
                $('.invalid-input').addClass('d-none');
                $('.invalid-length').addClass('d-none');
            });
            
        });
    </script>
</body>
</html>