*{
    padding:0;
    margin:0;
}

/* .navbar {
    background-color: #EFF3FF;
} */

body {
    -webkit-text-size-adjust: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: .8rem;
}

#header {
    /*color: #60a5fa;*/
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5rem;
    font-size: 2rem;
    color: #1B8EC9;
}

#btn-login{
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#btn-sign {
    font-family: "Poetsen One", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: #36A420;
    color:white;
}

#right-header{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .5rem;
    font-size: 2rem;
}

.center-text {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.login{
    height: calc(100vh - 51px);
}

.res-login{
    height: calc(100vh - 70px);
}

.background-img{
    display: none;
}

.center-form{
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 7px rgba(0, 0, 0, .25);
}

.kvhai-img{
    width: 150px;
    height: 150px;
}


/* .container-bg {
    box-shadow: 1px 5px 3px 5px rgba(230, 230, 250, .5), 3px 8px 3px 5px rgba(230, 230, 250, .8);
    border-radius: 10px;
} */

.portal-logo{
    width: 50px;
    height: 50px;
}

.forgot{
    color: #0E55DA;
    font-size:.9rem;
}

/*xs*/
@media (min-width: 475px) {
    .portal-logo {
        width: 100px;
        height: 100px; 
    }
}
/*sm*/
/* @media (min-width: 640px){
	.container{
		max-width: 640px;
        border: 1px solid blue;

	}
} */

/*md*/
/* @media (min-width: 768px){
	.container{
		max-width: 768px;
	}
} */

/*lg*/
/* @media (min-width: 1024px){
	.background-img{
        display: block;
        width: auto;
        height: auto;
    }
} */

/*xl*/
@media (min-width: 1280px){
	.background-img{
        display: block;
        width: auto;
        height: auto;
    }
}

/*2xl*/
/* @media (min-width: 1536px){
	.container{
		max-width: 1536px;
	}
} */