.notification_container {
    position: relative;
}

#btn_notification {
    cursor: pointer;
}

    #btn_notification:hover {
        color: rgba(128, 128, 128,.5);
    }

.notification_body {
    display: none;
    position: absolute;
    width: 300px;
    border: 1px solid gray;
    top: 30px;
    right: 0;
    border-radius: 10px;
    box-shadow: 3px 4px 5px;
    background-color: #FFFFFF;
    z-index: 1;
    font-size: 1rem;
}

.notif_line {
    border-top: 1px solid black;
    width: 100%;
}
