@{
    ViewData["Title"] = "Home Page";
}

@section sidebar{
    <button class="btn-navs active">TEST</button>
}
@section mobilenav{
    @*<ul class="navbar-nav d">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
        </ul>*@
    <button class="btn-navs active">TEST1</button>
    <button class="btn-navs ">TEST2</button>
    <button class="btn-navs ">TEST3</button>
} 

<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3">EMPLOYEE</p>
            <nav class="nav flex-column">
                <a class="nav-link" aria-current="page" href="/kvhai/staff/admin/accounts">Admin Account.cshtml</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/admin/streets">Admin Streets.cshtml</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/water-reading/">Reading Clerk Index.cshtml</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/water-billing/">Billing Clerk Index.cshtml</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/waterwork/">Waterwork Index.cshtml</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/resident-address/">Admin resident Address</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/announcment/">Post Announcemennt</a>
            </nav>
        </div>
        <div class="col">
            <p class="h3">RESIDENT</p>
            <nav class="nav flex-column">
                <a class="nav-link " aria-current="page" href="/kvhai/resident/login">Resident Log</a>
                <a class="nav-link " aria-current="page" href="/kvhai/resident/signup">Resident Signup</a>
                <a class="nav-link " aria-current="page" href="/kvhai/resident/register-address">Resident Register Address</a>
                <a class="nav-link " aria-current="page" href="/kvhai/resident/my-address">Resident My Address</a>
            </nav>
        </div>
    </div>
   
    
</div>


@*<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3">EMPLOYEE</p>
            <nav class="nav flex-column">
                <a class="nav-link" aria-current="page" href="/kvhai/staff/login">Staff Log</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/admin/dashboard">Admin Dashboard.cshtml</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/admin/accounts">Admin Account.cshtml</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/admin/streets">Admin Streets.cshtml</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/water-reading/">Reading Clerk Index.cshtml</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/water-billing/">Billing Clerk Index.cshtml</a>
                <a class="nav-link" aria-current="page" href="/kvhai/staff/waterwork/">Waterwork Index.cshtml</a>
            </nav>
        </div>
        <div class="col">
            <p class="h3">RESIDENT</p>
            <nav class="nav flex-column">
                <a class="nav-link " aria-current="page" href="/kvhai/resident/login">Resident Log</a>
                <a class="nav-link " aria-current="page" href="/kvhai/resident/signup">Resident Signup</a>
            </nav>
        </div>
    </div>
   
    
</div>*@